footer {
    padding: 15px 40px;
    background-color: orange;
    color: white;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footerCon {
    display: flex;
    justify-content: space-between;
}

footer p {
    text-align: center;
    padding-top: 10px;
}